form {

}

input {
  padding: 10px;
  border-radius: 4px;
  width: 250px;
}

a {
  border-radius: 3px;
  padding: 15px;
  color: #fff;
  background-color: transparent;
  line-height: 20px;
  background-color: rgba(0,0,0,.24);
  color: hsla(0,0%,100%,.8);
  transition: color 85ms ease-in;
  font-weight: 500;
}

.icon-plus {
  top: 2px;
  position: relative;
}